body{
font-family: 'Roboto Condensed', sans-serif;
background:#68D979;





}

.content{
  min-width:640px;
  min-height:360px;
  margin-top:150px;
  margin-right:auto;
  margin-bottom:auto;
  margin-left:auto;
  
}

.nameText{
  font-size:xx-large;
  color:#223B34;
  text-align:right;
  margin-bottom:;
}

.subText{
  font-family: 'Roboto', sans-serif;
  margin-top:auto;
  font-size:small;
  color:#223B34;
  text-align:right;
  
}

.icons{
  margin-top:275px
  float:right ;
  text-align:right;
  
}

a{
text-decoration:none;
}